.bgimg_banner{
	height: 300px;
	background-image: url(../../img/banner.png);
	background-size: 100% 100%;
}

.container_left{
	width: 280px;
	float: left;
}

.sponsor_info_box{
	width: 100%;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #D1D1D1;
	text-align: center;
}

.sponsor_info_box h3{
	font-size: 24px;
	color: #4A4A4A;
	margin: 26px auto;
}

.sponsor_logo{
	width: 240px;
	height: 240px;
	border: 1px solid #D1D1D1;
}

.sponsor_a{
	width: 100%;
	max-width: 240px;
	white-space:nowrap;
}

.sponsor_a span{
	width: 49%;
}

.sponsor_a span a{
	color: #4EA1E7;
	margin: 7%;
}

.sponsor_a .span_border{
	border-right: 1px solid #4EA1E7;
	padding-right: 8%;
}

.focus_share{
	width: 100%;
	margin: 27px 0 24px 0;
}

.focus,.unfocus,.share{
	width: 110px;
	height: 40px;
	display: inline-block;
    font-size: 16px;
    line-height: 40px;
}

.unfocus{
	display: none;
}

.focus{
	margin-right: 10px;
}

.share{
	margin-right: 0px;
}

.sponsor_intro{
	font-size: 14px;
}

.other_info{
	width: 100%;
	height: 150px;
	margin-top: 37px;
}

.other_info img{
	width: 140px;
	height: 140px;
	float: left;
	margin-right: 12px;
}

.container_right{
	width: 880px;
	float: right;
}

.actvt_box{
	width: 100%;
	height: 240px;
	margin: 0 0 40px 0;
}

.actvt_box img{
	width: 480px;
	height: 240px;
	float: left;
}

.actvt_box .actvt_dtl{
	width: 400px;
	float: left;
	padding: 20px;
}

.actvt_box .actvt_dtl p{
	color: #5A5A5A;
}

.dtl_title {
    font-size: 24px;
    margin-bottom: 9px;
}

.icon{
	height: 19px;
	width: 19px;
	display: inline-block;
	position: relative;
    margin-right: 7px;
    top: 3px;
	background-size: 100% 100%;
}

.actvt_time,.actvt_place{
    font-size: 18px;
}

.actvt_time{
    margin-bottom: 9px;
}

.actvt_place{
	margin-bottom: 18px;
}

.actvt_people{
	width: 100%;
	margin-bottom: 18px;
}

.actvt_people p{
	display: inline-block;
	width: 49%;
	white-space: nowrap;
	font-size: 18px;
}

.actvt_people p span{
	margin-right: 6px;
}

.actvt_people .number{
	margin: 0 7px;
}

.actvt_people .border_left{
	border-left: 2px solid #4EA1E7;
    padding-left: 25px;
}

.check_star button{
	height: 40px;
	width: 110px;
	display: inline-block;
    font-size: 16px;
    line-height: 40px;
}

.page_btn{
	width: 100%;
	text-align: center;
}

.page_btn button{
	width: 60px;
	height: 40px;
	font-size: 16px;
	color: #FFFFFF;
	border-radius: 4px;
	background: #D1D1D1;
	border: 0 solid #D1D1D1;
	display: inline-block;
	cursor:pointer;
	margin: 0 20px;
}

.page_btn button:hover{
	background: #4EA1E7;
	color: #fff;
	box-shadow: 0px 2px 2px 1px #D1D1D1;
}

.page_num{
	display: inline-block;
}

.page_num li{
	width: 40px;
	height: 40px;
	margin: 0 10px;
	display: inline-block;
	font-size: 16px;
	color: #4EA1E7;
	background: #FFFFFF;
	border: 1px solid #4EA1E7;
	border-radius: 4px;
	cursor:pointer;
	line-height: 40px;
}

.page_num .active{
	background: #4EA1E7;
	color: #fff;
}

.page_num a{
	color: inherit;
}